PyQt5==5.15.11
pywin32==307
speechrecognition==3.10.0
ollama==0.1.0
python-dotenv==1.0.0
pyyaml
beautifulsoup4==4.10.0
requests==2.26.0
pycaw==20220416
screen_brightness_control==0.14.1
pyttsx3==2.98
pyaudio==0.2.14
requests
numpy==2.2.6
pycaw
elevenlabs==2.1.0
pygame==2.6.1
sip==6.11.0
google-search-results==2.4.2
vosk==0.3.45
